<html>
    <head>
        <title>este é o django</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Testando Django</a></h1>
        </div>

        <div>
            <p>apenas um teste</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>

        <div>
            <p>apenas mais um teste</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        </div>
    </body>
</html>